services:

  # #################
  # Base service for further usage
  # #################
  base:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./data:/workspace/data
      - ./src/:/workspace/src
      - ./notebooks/:/workspace/notebooks
    ports:
      - 8080:8080   # marimo port, host:container

  # #################
  # Experiments
  # #################
  edit-experiments:
    extends:
      service: base
    image: relevance-regression/edit-experiments
    command: ["marimo", "edit", "notebooks/experiments.py", "--host", "0.0.0.0", "--port", "8080"]

  run-experiments:
    extends:
      service: base
    image: relevance-regression/run-experiments
    command: ["python", "notebooks/experiments.py"]

  # #################
  # Visualisations
  # #################
  edit-visualisations:
    extends:
      service: base
    image: relevance-regression/edit-visualisations
    command: ["python", "-m", "marimo", "edit", "notebooks/visualisation.py", "--host", "0.0.0.0", "--port", "8080"]

  run-visualisations:
    extends:
      service: base
    image: relevance-regression/run-visualisations
    command: ["python", "notebooks/visualisation.py"]